/* Annotation text */
body {
  font-size: 9pt;
  color: black;
}


/* Headings */
.title {font-size: 16pt;}
.subtitle {font-size: 14pt;}
h1 {font-size: 14pt;}
h2 {font-size: 12pt;}
h3 {font-size: 11pt;}


/* Code size */
pre,
pre code,
div.sourceCode,
code.sourceCode {
  font-size: 10pt;
}

/* Wrap long code lines */
div.sourceCode {
  overflow-x: hidden;
}

pre.sourceCode,
pre.sourceCode > code.sourceCode,
pre.sourceCode > code.sourceCode > span {
  white-space: pre-wrap;
}

pre.sourceCode > code.sourceCode {
  overflow-wrap: anywhere;
}

/* Light gray code-block background */
div.sourceCode {
  background-color: #e3e3e3 !important;
}

pre.sourceCode {
  background-color: transparent !important;
}


/* Printing */
@media print {

  title {
    font-size: 16pt;
  }

  subtitle {
    font-size: 14pt;
  }

  body {
    font-size: 9pt;
    color: black;
  }

  pre,
  pre code,
  div.sourceCode,
  code.sourceCode {
    font-size: 10pt;
  }

  div.sourceCode {
    overflow-x: hidden;
    background-color: #d9d9d9 !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  pre.sourceCode {
    background-color: transparent !important;
  }

  pre.sourceCode,
  pre.sourceCode > code.sourceCode,
  pre.sourceCode > code.sourceCode > span {
    white-space: pre-wrap;
  }

  pre.sourceCode > code.sourceCode {
    overflow-wrap: anywhere;
  }
}